


<div class="col-4">
    
        <div class="row">
            <figure class="figure">
               
                <%= image_tag  image.picture.medium.url,class: "figure-img img-fluid rounded" %>    
                <!-- <img src="https://i.pinimg.com/236x/31/0e/bc/310ebc289269447e9801802827ef2102--cigarette-holder-cigarette-case.jpg" class="figure-img img-fluid rounded" alt=""> -->
                
                <figcaption class="figure-caption">
                    <%= image.description %>
                    <%= link_to 'Edit', edit_image_path(image) %>
                    <%= link_to 'Destroy', image,  method: :delete, data: {confirm: 'sure'} %>
                </figcaption>
                
            </figure>
        
        </div>
    
</div>